In [1]:
import sys
from pathlib import Path

import pandas as pd

In [2]:
# Add parent directory to Python path
sys.path.append(str(Path().resolve().parent))

In [3]:
from src.utils.preprocessing import *

In [4]:
file_path = str(Path().resolve().parent / "data/raw/peaks.DBF")
df = read_dbf(file_path)

In [5]:
df.dtypes

peakid        object
pkname        object
pkname2       object
location      object
heightm        int64
heightf        int64
himal          int64
region         int64
open            bool
unlisted        bool
trekking        bool
trekyear      object
restrict      object
phost          int64
pstatus        int64
peakmemo      object
pyear         object
pseason        int64
pexpid        object
psmtdate      object
pcountry      object
psummiters    object
psmtnote      object
refermemo     object
photomemo     object
dtype: object

In [6]:
df.head()

,peakid,pkname,pkname2,location,heightm,heightf,himal,region,open,unlisted,...,peakmemo,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote,refermemo,photomemo
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,12,2,True,False,...,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",None,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,12,2,True,False,...,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",None,None,None
2,ANN1,Annapurna I,None,Annapurna Himal,8091,26545,1,5,True,False,...,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",None,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...
3,ANN2,Annapurna II,None,Annapurna Himal,7937,26040,1,5,True,False,...,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",None,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976)
4,ANN3,Annapurna III,None,Annapurna Himal,7555,24787,1,5,True,False,...,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",None,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...

In [7]:
file_path = str(Path().resolve().parent / "data/processed/peaks.csv")
write_csv(df, file_path)

In [8]:
df = pd.read_csv(file_path)